# Don't checkin the git report created by local setup script.
local-dev/instruqt-geo-workshop/

# Don't checkin Elastic Start-Local
elastic-start-local/

# Don't checkin the data files as they are pulled from Dropbox (for now)
local-dev/workshop-data/

# Don't checkin env files
.env

# Don't checkin the Python virtual environment
venv
.venv

# Don't checkin log files.
*.log