# Don't track Elastic Start-Local
local-dev/elastic-start-local/

# Don't track the local git copy pulled via the local setup script.
local-dev/instruqt-geo-workshop/

# Don't track the local data files pulled via the local setup script.

# Don't track env files
.env

# Don't track the Python virtual environment
venv
.venv

# Don't track log files.
*.log